.footer {
    background-color: transparent;
    width: 95vw;
    height: 8vh;
    color: var(--color-blue);
    font-size: 12px;
}

@media (min-width: 768px) {
    .footer {
        font-size: 16px;
    }
}