
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400&display=swap');

:root {
    --color-blue: #003366;
    --color-black: #000;
    --color-lightblue: #0892D0;
    --color-lightgray: #EAEFF1;
    --color-icewhite: #F5F5F5;
    --color-gray: #EBEBEB;
    --color-white: #FFF;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;   
}