.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.chat-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--color-blue);;
    border: 2px solid var(--color-gray);
    height: 10vh;
    padding: 1vw;
    color: var(--color-white);
}

.chat-header span {
    margin-left: 1vw;
}

.chat-content {
    height: 80vh;
    overflow-y: scroll;
}

.chat-content::-webkit-scrollbar {
    display: none;
}

.chat-content ul {
    list-style: none;
}

.chat-content ul > li {
    margin-top: 1vh;
}

.chat-content-receiver {
    margin-bottom: 2vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.chat-content-receiver-text {
    padding: 1.5vh;
    border-radius: 5px;
    text-align: left;
    background-color: var(--color-lightblue);
    color: var(--color-white);
}

img.chat-content-receiver-text  {
    width: 25vw;
    height: 30vh;
}

.chat-content-sender {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2vh;
    margin-right: 1vw;
}

.chat-content-sender-text {
    padding: 1.5vh;
    border-radius: 5px;
    text-align: right;
    background-color: var(--color-blue);
    color: var(--color-white);
}

img.chat-content-sender-text  {
    width: 25vw;
    height: 30vh;
}

.chat-input {
    width: 100%;
    padding: 1vh;
    background-color: var(--color-blue);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input-attach > input {
    display: none;
}

.chat-input-wrapper {
    padding: 1vh;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-input-input {
    width: 100%;
    height: 44px;
    padding: 1vh 1vw;
    border-radius: 7px;
    color: var(--white);
    background-color: var(--color-white);
    position: relative;
    border-color: var(--color-gray);
}

.chat-input input::placeholder{
    color: var(--color-gray);
}

.chat-input ~ svg {
    position: relative;
    top: -50%;
    left: 14px;
    transition: 180ms ease-in-out;
}

.chat-input-interactions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chat-input-buttons {
    margin-right: 1vw;
    border: 0;
    background: transparent;
    cursor: pointer;
}

.chat-input-icons {
    width: 2vw;
    height: 2vw;
}

.contact-icon {
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
}