.recover-content{
    width: 100vw;
    height: 100vh;
    padding: 5%;
    margin: auto;
    background-color: var(color-icewhite);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.btn-recover{
    width: 100%;
    background-color: var(--color-blue);
    color: var(--color-white);
    margin-bottom: 1vh;

}

.btn-recover:hover{
    color: var(--color-blue);
    background-color: var(--color-white);
    border: 2px solid var(--color-blue);
}


.card{
    background-color: var(--color-icewhite);
    padding: 50px;
    border-style: solid;
    border-color: var(--color-blue);
}

.text-blue{
    color: var(--color-blue);
}

.recover-input {
    width: 100%;
    border: 1px solid var(--color-blue);
    padding: 2px 10px;
    margin-bottom: 1vh;
    border-radius: 6px;
}

.recover-input:focus {
    border-color: var(--color-blue);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px var(--color-blue);
}

.recover-logo {
    max-width: 80vw;
    margin-bottom: 5vh;
}
@media(min-width: 768px) {
    .recover-logo {
        max-width: 30vw;
        margin-bottom: 5vh;
    }
}

a{
    text-decoration: none;
}